{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div>
	<h1>Item Catalog</h1>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
		<a href="{{url_for('newItem')}}">
			<button class="btn btn-default" >Add Item</button>
		</a>
</div>
	</div>
<div class="row">
	<div class="col-md-4">
		<h2>Categories</h2>
		{% for cat in category %}
			<a href = "{{url_for('showItemByCategory', cat_id = cat.id)}}">
			<h3>{{cat.name}}</h3>
		</a>
		{% endfor %}	
	</div>

	<div class="col-md-8">
		<h2>Items</h2>
		{% for i in items %}
		<a href = "{{url_for('showItemDetils', item_id = i.id)}}">
			<h3>{{i.title}}</h3> 
		</a>
		{% endfor %}
	</div>
	</div>	
</div>
{% endblock %}