<div class="row top-menu">
	<div class="col-md-10">
		<a href="{{url_for('showCategories')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All categories
		</a>
	</div>
	<div class="col-md-2 text-right">	
		{% if 'username' not in session %}
			<a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
				<p class="text-success">Log In</p>
			</a>
		{% else %}
			<a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
				<p class="text-danger">Logout</p>
			</a>
		{% endif %}      
	</div>
</div>