{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{item.title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<label>Description :</label>
			<label for="description">{{item.description}}</label>
			<br /><br />
			<a href = "{{url_for('editItem', item_id = item.id)}}">Edit</a> | <a href = "{{url_for('deleteItem', item_id = item.id)}}">Delete</a>
		</div>
	</div>
{% endblock %}